@model IEnumerable<AddressBookDomain.Domain.Call>
@{
    ViewData["Title"] = "Calls";
}

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Contact</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>

    @foreach (var call in Model)
    {
        <tr>
            <td>@call.Contact</td>
            <td>@call.Created</td>
            <td>
                <a href="/Calls/Remove/@call.Id">Remove</a>
            </td>
        </tr>
    }
</table>