@model AddressBook.ViewModels.ContactEditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing contact</h2>
<form asp-action="Edit" asp-controller="Contacts" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-lg-2">
            <input type="text" class="form-control" asp-for="Name" placeholder="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Phone"/>
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" asp-for="Email" placeholder="Email"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" asp-for="Note" placeholder="Note"/>
            <span asp-validation-for="Note"></span>
        </div>
        <div class="col-lg-2">
            <input type="submit" value="Save" class="btn"/>
        </div>
    </div>
</form>